.idea
*.pyc
test-reports
.DS_Store
jabs.venv
rotta.venv
venv
*.sif
temp
docs/notes.txt
docs/work_history.md
/data
/data/*
tests/data/*.h5
tests/feature_tests/signal_protyping_custom.py
tests/testing_notebook.ipynb
.vscode